/*

$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
*/

td.log-meta-data {
  vertical-align: top;
  width: 200px;
}

table.log-data-view {
  width: 100%;
}

span.log-highlight {
  // color: #fff;
  font-weight: bold;
  background-color: #FBE481;
  padding-left: 3px;
  padding-right: 3px;
}

td.log-field-column {
  vertical-align: top;
  text-align: right;
  font-weight: bolder;
  width: 150px;
  display: inline-block;
  word-wrap: break-word;
}

pre.log-value-column {
  font-family: 'Tahoma';
}

button.thin {
  padding-top: 6px;
  padding-bottom: 6px;
}

button.thin2 {
  padding-top: 10px;
  padding-bottom: 10px;
}


div.metadata {
  h3 {
    margin: 0px;
    padding: 10px;
    line-height: 1.5em;
    font-size: 13pt;
    color: #eee;
    background-color: rgb(44, 62, 80);
  }

  div {
    font-size: 10pt;
  }
}