/*

$font-stack: Helvetica,
sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
*/

td.log-meta-data {
  vertical-align: top;
  width: 200px;
}

button.thin {
  padding-top: 6px;
  padding-bottom: 6px;
}

button.thin2 {
  padding-top: 10px;
  padding-bottom: 10px;
}